body{
    display: flex;
    min-height: 100vh;
    flex-direction:column;
    color:black;
}

main{
    flex: 1 0 auto; 
}

/*Blog Posts*/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size:40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
    font-style: italic;
}

.new {
    //width: 895px;
   // height: 100px;
   padding-bottom:200px;
}

.blog{
    padding-left:20px;
    height: 100px;
}

.butt{
    color:purple;
    
}

.content{
    padding-top: 57px;
    padding-left: 10px;
    
}

.down{
    padding-top: 150px;
}
    
.ig{
    height: 75px;
    text-align: center;
    
}

.blog-post{
    padding-top: 20px;
}