<!DOCTYPE html>
  <html>
    <head>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link href="css/blog.css" rel="stylesheet" type="text/css"/>
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Blog</title>
      <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
      <script>tinymce.init({ selector:'textarea' });</script>
    </head>

    
    <body class="grey lighten-4"> 
        <header>
            <div class="navbar-fixed">
                <nav class=" pink darken-2 new">                                   
                    <div class="nav-wrapper">
                        <a href="index.html" class="brand-logo"><img class="responsive-img blog" src="pictures/blog_banner_v3.png"></a>
                        <ul class="right ">
                            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">more_vert</i></a></li>
                            <li><ul id='dropdown1' class='dropdown-content'></li>
                            <li><a class="butt" href="index.html">Home</a></li>
                            <li><a class="butt" href="admin.html">Admin</a></li>
                            </ul>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    
        <main>
            <div class="container center">
                <div class="row">
                    <h1 class="-align"> My Blog</h1>
                </div>
            <div class="row">
                <div class="col s12 main-container center">
                   
                </div>
            </div>
            </div>    
        </main>
       
        <footer class="page-footer pink darken-2">
            <div class="container">
                <p><a href="#">Back to top</a></p>
            </div>   
            <div class="footer-copyright">
                <div class="container">
                    @2016 Robinson
                </div>
            </div>
        </footer>
      
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
      <script type="text/javascript" src="libs/backendless.js" ></script>
      <script type="text/javascript" src="js/admin.js" ></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js" ></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js" ></script>
      
      <script id="login-template" type="text/x-handlebars-template">
       <div class="col s6 center-align">
          <h2 class="center">Login</h2>
          <div>
              <form class="col s12 form-signin">
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="email" type="email" name="email" class="validate">
                          <label for="email">Email</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="password" type="password" name="password" class="validate">
                          <label for="password">Password</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12">
                          <p class="right-align">
                              <button <a gotError="Materialize.toast('Incorrect Login', 4000)" class="btn btn-large wave-effect wave-light" type="submit" name="action">Submit</button>
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      </script> 
     
      <script id="welcome-template" type="text/x-handlebars-template">
          <h2>Welcome, {{email}}</h2>
          <button class="btn  btn-large waves-effect waves-light add-blog">Add a new Blog</button>
          <button class="btn  btn-large waves-effect waves-light logout">Logout</button>
      </script>
     
      <script id="add-blog-template" type="text/x-handlebars-template">
      <h2>Add new Blog</h2>
      <div class="row">
          <form class="col s12 form-add-blog">
              <div class="row">
                  <div class="input-field col s12">
                      <input id="title" type="text" name="title">
                      <label for="title">Title</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12 ">
                      <textarea id="content" name="content" class="materialize-textarea"></textarea>
                      <label class="content" for="content">Content</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col s12">
                      <p class="right-align">
                          <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                      </p>
                  </div>
              </div>
          </form>
      </div>
    </script>
    
    </body>
 
  </html>
