<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link href="css/blog.css" rel="stylesheet" type="text/css"/>
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
        <title>Blog</title>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="grey lighten-4"> 
        <header> 
            <!--<div class="navbar-fixed">-->
            <nav class="new"> 
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo"><img class="responsive-img blog" src="blog_banner_v3.png"></a>
                    <ul class="right">
                        
                    </ul>
                   
                </div>
                
                
    <ul class="right ">
      <li><a href="SideNav.html">Blogs<span class="new badge">1</span></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">more_vert</i></a></li>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a class="butt" href="index.html">Home</a></li>
                       <li><a class="butt" href="admin.html">Admin</a></li>
        
      </ul>
    </ul>
                
<ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
            </nav>
            <!--</div>-->
            
            
        </header>
    <main>
        <div class="container">
            <div class="row">
                <h1 class="center"> My Blog</h1>
            </div>
            <div class="row">
                <div class="col s12 main-container center">
                    
                </div>
            </div>
        </div>    
    </main>
        <footer class="purple">
            <div class="container">
                <p ><a href="#">Back to top</a></p>
            </div>   
            <div class="footer-copyright center">
                <div class="container">
                    @2016 Robinson
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
      <script type="text/javascript" src="libs/backendless.js" ></script>
      <script type="text/javascript" src="js/blog.js" ></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js" ></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js" ></script>
      
       <script id="blogs-template" type="text/x-handlebars-template">
      {{#each posts}}
        <div class="blog-post">
              <h2 class="blog-post-title">{{title}}</h2>
              <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
              <div>{{content}}</div>
        {{/each}}       
      </script> 
   
    </body>
  </html>
